<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.snapqa.clientapp0903">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />


    <application
        android:name=".SnapApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectSubjectActivity" />
        <activity
            android:name=".TutorProfile"
            android:label="@string/title_activity_tutor_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".VerifyOTPActivity" />
        <activity android:name=".PaymentDetailsActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ChangePasswordActivity" />

        <service
            android:name="com.tuenti.smsradar.SmsRadarService"
            android:exported="false"
            android:label="@string/app_name" />
    </application>

</manifest>